<footer class="footer">
  <div class="container-fluid border-top">
    <div class="row justify-content-center g-3">

      <div class="col-lg-3 col-sm-6 col-12">
        <div class="service">
          <div class="service-img">
            <img loading="lazy" src="assets/image/footer/premium.png" alt="Premium Quality">
          </div>

          <div class="service-info">
            <h5 class="m-0">Premium Quality</h5>
            <p class="m-0">Built to last</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <div class="service">
          <div class="service-img">
            <img loading="lazy" src="assets/image/footer/fast-delivery.png" alt="Fast Delivery">
          </div>

          <div class="service-info">
            <h5 class="m-0">Fast Delivery</h5>
            <p class="m-0">2-5 working days</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <div class="service">
          <div class="service-img">
            <img loading="lazy" src="assets/image/footer/check-mark-icon-safety.png" alt="Secure Payment">
          </div>

          <div class="service-info">
            <h5 class="m-0">Secure Payment</h5>
            <p class="m-0">100% secure checkout</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <div class="service">
          <div class="service-img">
            <img loading="lazy" src="assets/image/footer/customer-service-icon.png" [alt]="'footer.service.name' | translate">
          </div>

          <div class="service-info">
            <h5 class="m-0">Customer Support</h5>
            <p class="m-0">We got you</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="foot">
    <div class="logo">
      <img loading="lazy" src="assets/image/logos/logo-dark-without-bg.png" class="logo-img" [alt]="'footer.info.name' | translate">
    </div>
    <div class="copy-right text-center p-2">
      <!-- <p class="m-0 text-white">{{'footer.CopyRight.text' | translate}}</p> -->
      <p class="m-0 text-white">
        2025 Uvéntuo - Powered By ©
        <a href="https://ahtech-tau.vercel.app/" class="fw-bold main-color" target="_blank">AHTech Team</a>
      </p>
    </div>
    <div class="social-icons px-2 text-white d-flex justify-content-center align-items-center gap-3">
      <span>Follow us</span>
      <a href="https://www.instagram.com/chaos.factory.eg?igsh=MW1pZnJndWFxZmw3aA==" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>


      <a href="https://www.tiktok.com/@chaos.factory.eg?_r=1&_t=ZS-98WJhkOrojE" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
      </a>

      <a href="https://www.facebook.com/share/191Rs1ubDh/" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

    </div>
  </div>

</footer>
