$main-color : #FED100;
$second-color:#000000;

footer{
  .service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 20px;
    .service-img{
      img{
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    .service-info{
      h5{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .foot{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 30px;
    background-color: $second-color;
    .logo{
      img{
        width: 200px;
        filter: drop-shadow(0 0 5px #fecf00) drop-shadow(0 0 10px #fecf00) drop-shadow(0 0 20px rgba(254, 207, 0, 0.6));
      }
    }
    .social-icons{
      span{
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px){
  footer{
    .service{
      justify-content: start;
      padding: 10px;
      .service-img{
        img{
          width: 40px;
          height: 40px;
        }
      }
      .service-info{
        h5{
          font-size: 14px;
        }
      }
    }
    .foot{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
