<section class="contact-us py-5" id="contact-us">
  <div class="container">
    <div class="row rounded-3 border border-1 g-3">
      <div class="col-md-6">
        <div class="p-3">
          <div>
            <img
              src="assets/image/logos/logo-white-without-bg.png"
              class="img-fluid"
              alt="UVÉNTUO"
            />
          </div>

          <p class="mb-4 mt-2">
            Discover UVÉNTUO — distinctive fragrances crafted to become part of
            your identity. Need help choosing a scent or with your order? We’re
            here to help you find your signature.
          </p>

          <div class="d-flex gap-2">
            <button
              class="btn main-btns btn-shop-now wow flipInY"
              routerLink="/shop"
            >
              Shop Now
            </button>
            <button
              class="btn main-btns btn-view-collection wow flipInY"
              routerLink="/about-us"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="p-3">
          <div
            class="contact-title rounded-5 px-3 py-1 d-flex aling-items-center gap-1 wow fadeInLeft"
          >
            <span class="line main-bg rounded-5"></span>
            <h3 class="m-0">Contact Us</h3>
          </div>
          <ul class="social-links mt-3">
            <li>
              <a
                href="https://www.facebook.com/share/1CeJChY7TA/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-facebook-f"></i>
                <span>Facebook</span>
              </a>
            </li>

            <li>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
                <span>Instagram</span>
              </a>
            </li>

            <li>
              <a
                href="https://www.tiktok.com/@uventuo?_r=1&_t=ZS-9A6iyud6Xoq"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-tiktok"></i>
                <span>TikTok</span>
              </a>
            </li>

            <li>
              <a
                href="https://wa.me/201114033242"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-whatsapp"></i>
                <span>01114033242</span>
              </a>
            </li>

            <li>
              <a href="tel:+201114033242">
                <i class="fa-solid fa-phone"></i>
                <span>01114033242</span>
              </a>
            </li>

            <li>
              <a href="mailto:anfahmy92@gmail.com">
                <i class="fa-solid fa-envelope"></i>
                <span>anfahmy92&#64;gmail.com</span>
              </a>
            </li>

            <li>
              <a
                href="https://www.google.com/maps/search/?api=1&query=Giza%2C%20Egypt"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-solid fa-location-dot"></i>
                <span>Giza, Egypt</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
