$mainColor : #FED100;
$second-color:#000000;

.about{
  position: relative;
  .about-img{
    text-align: center;
    img{
      width:80%;
      margin: 0 auto;
      border-top-left-radius: 20%;
      border-bottom-right-radius: 70%;
      filter: drop-shadow(0px 0px 10px $mainColor);
    }
  }
  .about-info{
    .about-title{
      border: 1px solid $mainColor;
      width: fit-content;
      .line{
        width: 20px;
        height: 8px;
        margin-top: 12px;
      }
      h3{
        font-size: 24px;
      }
    }

    .about-content{
      p{
        color: #797979;
      }
    }
  }

  .main-btns{
    font-weight: bold;
    padding: 8px 20px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    font-size: 10px;

    &:hover {
      transform: translateY(-2px);
    }

    &.btn-shop-now{
      background-color: $second-color;
      color: #fff;
      &:hover {
        box-shadow: 0 8px 20px #000000a7;
      }
    }

    &.btn-view-collection{
      background-color: transparent;
      color: $second-color;
      border: 1px solid $second-color;

      &:hover {
        background-color: $second-color;
        color: #fff;
        box-shadow: 0 8px 20px #000000a7;
      }
    }
  }
}
