<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-4 rounded-5">

      <div class="col-lg-6 wow fadeInDown">
        <div class="about-img">
          <img loading="lazy" src="assets/image/about-us/about-us.png" alt="CHAOS FACTORY">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-info d-flex justify-content-center flex-column h-100 gap-3">
          <div class="about-title rounded-5 px-3 py-1 d-flex aling-items-center gap-1 wow fadeInLeft">
            <span class="line main-bg rounded-5"></span>
            <h3 class="m-0">{{'about.title' | translate}}</h3>
          </div>
          <div class="about-content">
            <h5 class="wow fadeInUp fw-bold">WE DON’T FOLLOW. WE CREATE.</h5>
            <p class="wow fadeInUp my-3">
              CHAOS FACTORY is more than just clothing — it’s a mindset. We create bold, expressive streetwear for those who think differently, break the rules, and aren’t afraid to stand out. Every piece is inspired by creativity, individuality, and the raw energy of street culture, designed to help you wear your attitude and make your own statement. No limits. No rules. Just chaos, creativity, and your own style.
            </p>
          </div>
          <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-btns btn-shop-now wow fadeInUp" routerLink="/shop">
              Shop Now
            </button>
            <button class="btn main-btns btn-view-collection wow fadeInDown" routerLink="/">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
