<section class="navbar-section p-0" id="navbar-section">
  <div class="ads-bar p-2">
    <div class="ads-track">
      @for (item of [1,2,3,4]; track $index) {
        <span>
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
          FIND YOUR SIGNATURE SCENT
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
        </span>

        <span>
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
          SCENTS THAT LEAVE A MARK
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
        </span>

        <span>
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
          YOUR SCENT. YOUR SIGNATURE.
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
        </span>

        <span>
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
          LONG LASTING. UNFORGETTABLE.
          <img src="assets/image/logos/uv-logo-white.png" alt="Perfume Store">
        </span>
      }
    </div>
  </div>

  <div class="head-home p-2">
    <div class="container">
      <ul class="list-unstyled m-0 d-flex flex-wrap justify-content-between align-items-center gap-3">
        <li>
          <a class="d-flex justify-content-center align-items-center gap-0" href="tel:+201114033242">
            <i class="fa-solid fa-phone"></i>
            <span dir="ltr">+201114033242</span>
          </a>
        </li>

        <li>
          <a class="d-flex justify-content-center align-items-center gap-0" href="https://wa.me/+201114033242?text=مرحبًا%20CHAOS Store!%20أريد%20الاستفسار%20عن%20منتجاتكم" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
            <span dir="ltr">+201114033242</span>
          </a>
        </li>

        <li>
          <a class="d-flex justify-content-center align-items-center gap-0" href="">
            <i class="fa-solid fa-location-dot"></i>
            <span>Giza, Egypt</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <!-- LEFT SIDE -->
      <div class="navbar-left d-flex align-items-center">

        <!-- Mobile Toggle -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-0">

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/home"
              >
                Home
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/shop"
              >
                Shop
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/about-us"
              >
                About Us
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/contact-us"
              >
                Contact Us
              </a>
            </li>

            @if(
              userId == '4lxgOSRBz6YfSAF3K9QDQwNm4Z12'
            ) {

              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/add-product"
                >
                  Add Products
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/brands"
                >
                  Add Brands
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/categories"
                >
                  Add Categories
                </a>
              </li>

            }

            @if(userId) {

              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/orders"
                >
                  Orders
                </a>
              </li>

            }

          </ul>
        </div>

      </div>


      <!-- CENTER LOGO -->
      <a
        class="navbar-brand"
        routerLink="/"
        aria-label="UVÉNTUO Home"
      >
        <img
          loading="lazy"
          src="assets/image/logos/logo-white-without-bg.png"
          class="logo cr"
          [alt]="'navbar.title' | translate"
        >
      </a>


      <!-- RIGHT SIDE -->
      <div class="navbar-actions d-flex align-items-center">

        <button
          class="nav-action"
          type="button"
          (click)="toggleSearchBox()"
          aria-label="Search"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button
          class="nav-action cart-action"
          type="button"
          routerLink="/cart"
          aria-label="Shopping Cart"
        >
          <span class="cart-count">
            {{ cartCount().length }}
          </span>

          <i class="fa-solid fa-cart-shopping"></i>
        </button>

        <button
          class="nav-action"
          type="button"
          routerLink="/profile"
          aria-label="Profile"
        >
          <i class="fa-regular fa-user"></i>
        </button>

      </div>

    </div>
  </nav>

  @if(searchToggle){
    <div class="search-box position-relative w-50 ms-0 ms-lg-auto">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="search" class="form-control search-input" placeholder="Search..." [(ngModel)]="searchWord" (input)="onSearch()">

      @if(searchWord){
        @if(filteredProducts.length){
          <ul class="search-list list-unstyled m-0 p-0">
            @for (item of filteredProducts; track $index) {
              <li class="p-2 d-flex align-items-center gap-2 cr" (click)="goToProduct(item.id)">
                <div>
                  <img [src]="item.image" [alt]="">
                </div>
                <div>
                  <p class="m-0">{{item.name}}</p>
                  <span class="m-0 main-color">{{ (item?.price || 0) - (item?.discount || 0) }} EGP</span>
                </div>
              </li>
            }
          </ul>
        }
      }
    </div>
  }

</section>
