<section class="home overflow-hidden" id="home">

  <div class="hero-section row g-3">
    <div class="col-lg-6">
      <div class="hero-info mt-0 mt-md-5 py-4 px-3 px-lg-5">
        <h1 class="hero-title">BUILT IN CHAOS. <br> <span class="main-color">MADE TO STAND OUT.</span></h1>
        <p class="hero-description my-3">Premium streetwear for everyday rebels.</p>
        <div class="d-flex align-items-center gap-2 flex-wrap">
          <button class="btn btn-shop-now rounded-3" routerLink="/shop">SHOP NOW</button>
          <button class="btn btn-view-collection rounded-3" routerLink="/about-us">About Us</button>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="hero-img">
        <img loading="lazy" class="w-100 object-fit-cover" src="assets/image/home-image/hero-img.png" alt="CHOAS Store">
      </div>
    </div>
  </div>

  <div class="categories-section">
    <div class="head-title d-flex justify-content-center align-items-center text-center mt-4">
      <h3>SHOP BY CATEGORIES</h3>
    </div>
    <!-- <swiper-container

      class="mySwiper wow fadeInUp"
      pagination="false"
      navigation="true"
      loop="true"
      slides-per-view="auto"
      [breakpoints]="{
        '0': { slidesPerView: 3, spaceBetween: 20 },
        '768': { slidesPerView: 3, spaceBetween: 20 },
        '1024': { slidesPerView: 6, spaceBetween: 20 }
      }"
    >
    @for (category of categories; track $index) {
      <swiper-slide class="py-2">
        <div class="category cr text-center" [routerLink]="'/category/' + category.name">
          <div class="cat-img">
            <img loading="lazy" [src]="category?.image || 'assets/image/home-image/t-shirt-logo.png'" alt="t-shirt" />
          </div>
          <h5>
            {{category.name}}
          </h5>
          <button class="btn btn-shop-now rounded-3">
            SHOP NOW
          </button>
        </div>
      </swiper-slide>
    } @empty {
      <h5> Not Found Products</h5>
    }
    </swiper-container> -->

    <ul class="categories d-flex justify-content-center align-items-center flex-wrap gap-2 mt-4">
      @for (category of categories; track $index) {
        <li class="category cr text-center" [routerLink]="'/category/' + category.name">
          <div class="cat-img">
            <img loading="lazy" [src]="category?.image || 'assets/image/home-image/t-shirt-logo.png'" alt="t-shirt" />
          </div>
          <h5>
            {{category.name}}
          </h5>
          <button class="btn btn-shop-now rounded-3">
            SHOP NOW
          </button>
        </li>
      }
    </ul>
  </div>

  @if(isBrowser){
    <div class="container">
      @for (category of categories; track $index) {
        @if (getProductsByCategory(category.name).length > 0) {
          <div class="silders-products py-3">
            <h3 class="m-0">{{category.name}}</h3>
            <swiper-container
              class="mySwiper wow fadeInUp"
              pagination="false"
              navigation="true"
              loop="true"
              slides-per-view="auto"
              [breakpoints]="{
                '0': { slidesPerView: 2, spaceBetween: 10 },
                '768': { slidesPerView: 3, spaceBetween: 10 },
                '1024': { slidesPerView: 4, spaceBetween: 15 }
              }"
            >
            @for ( item of getProductsByCategory(category?.name); track item.id ) {
              <swiper-slide class="my-5 mx-3">
                <div class="product-card" [routerLink]="'/product-details/' + item?.id">
                  <div class="image-wrapper cr">
                    <img [src]="item?.image" [alt]="item?.name"/>
                  </div>

                  <div class="content">
                    <span class="brand">{{item?.brand}}</span>


                    <h3 class="name m-0">{{item?.name}}</h3>
                    <span class="category">{{item?.category}}</span>

                    @if(item?.rate){
                      <div class="rate-stars mb-2 text-warning d-flex align-items-center gap-1">
                        <!-- Rate -->
                        <span class="text-muted">{{ item?.rate }}</span>

                        <!-- Full Stars -->
                        @for (i of getStars(item?.rate).fullStars; track $index) {
                          <i class="fa-solid fa-star"></i>
                        }

                        <!-- Half Star -->
                        @if (getStars(item?.rate).halfStar) {
                          <i class="fa-solid fa-star-half-stroke"></i>
                        }

                        <!-- Empty Stars -->
                        @for (i of getStars(item?.rate).emptyStars; track $index) {
                          <i class="fa-regular fa-star text-secondary"></i>
                        }
                      </div>
                    }

                    <div class="pricing d-flex align-items-center gap-1">
                      @if(item?.discount){
                        <p class="old-price">{{item?.price}} EGP</p>
                        <p class="price">{{ (item?.price || 0) - (item?.discount || 0) }} EGP</p>
                      } @else {
                        <p class="price">{{item?.price}} EGP</p>
                      }
                    </div>

                    <button class="add-btn" [routerLink]="'/product-details/' + item?.id">
                      Details
                    </button>
                  </div>
                </div>
              </swiper-slide>
            } @empty {
              <h5> Not Found Products</h5>
            }
            </swiper-container>
          </div>
        }
      }
    </div>
  }

</section>




